

<h1>property binding</h1>
<p><button (click)="enableButton()">button</button></p>
<input type="text" [disabled]="propertyBindingvariable">

<h1>Event binding</h1>
<button (click)="eventBinding()">button</button>
<p>{{eventBindingVariable}}</p>

<h1>two way binding</h1>
<input type="text" [(ngModel)]="twoWayBindingVariable">
<p>{{twoWayBindingVariable}}</p>


<h1>Example: Combination of all types of binding</h1>
<input type="text" [(ngModel)]="combination2WayVariable" >
<button (click)="comboEvent()" >Button</button>
<p>{{comboEventVariable}}</p>

<!-- Directives -->
<h1>Directives</h1><p>
    whenever the variable assign to *ngIf directive is true then only it will print content of that tag
</p>
<input type="text" [disabled]="directiveVariable" [(ngModel)]="directiveInputVariable">
<button (click)="directive()">Submit</button>
<p *ngIf="directiveVariable; else logout">{{directiveInputVariable}} logged in</p>
<ng-template #logout><P>you are log out</P></ng-template>

<!--   // style with ngStyle -->
<h1>Style using ngStyle</h1>
<input type="text" [(ngModel)]="styleInputVariable">
<button (click)="buttonEvent()">status</button>
<p  *ngIf='status'[ngStyle]="{color:colorVariable}" > server is {{booleanVariable}}</p>