<div class="accordion">
    <div class="accordion-tab">
        <input id="toggle1" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle1">our mission<img src="./assets/images/dropdownicon.png" width="30px"></label>
        <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi nihil sit qui veritatis illum, tempore iusto enim ad voluptatum expedita quam exercitationem vitae itaque ipsum beatae molestias reiciendis! Reprehenderit praesentium fugiat deleniti odit, rem, ducimus animi vero vitae cupiditate, non nesciunt optio. Aperiam, perspiciatis consectetur molestias dolorum molestiae eos eaque accusantium accusamus inventore qui repellendus temporibus tempore ad, natus earum nobis similique. Vero, nesciunt fugiat non adipisci nobis quia. Hic in ipsa voluptate voluptates.</p>
            <img class="img mission" src="./assets/images/email.jpg" width="100px" alt="">
        </div>
    </div>
    <div class="accordion-tab">
        <input id="toggle2" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle2">our vision<img src="./assets/images/dropdownicon.png" width="30px"> </label>
        <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita tempora tempore. Deleniti ducimus tenetur inventore a, ipsum fugiat consequuntur ratione quis quidem, laborum sequi quos consectetur tempora ad dolor doloribus adipisci? Atque, commodi culpa. Ullam at hic est voluptatem commodi, suscipit ratione in accusantium quam possimus consequatur ducimus nisi!</p>
            <img src="./assets/images/email.jpg" width="100px" alt="">
        </div>
    </div>
    <div class="accordion-tab">
        <input id="toggle3" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle3">our legacy<img src="./assets/images/dropdownicon.png" width="30px"></label>
        <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga culpa autem nihil. Consequuntur ut ipsum impedit blanditiis, quibusdam a illum dignissimos aspernatur amet, quaerat molestiae dolorum accusantium distinctio minima facere officiis veritatis expedita quidem nostrum laborum qui! Dicta quasi tempora dignissimos earum nobis iusto ab nisi perferendis suscipit aperiam iure provident facere repellat voluptate dolore eaque, optio quaerat voluptates similique magnam enim fugiat odit nam quas. Accusantium deleniti, debitis corrupti est repellendus temporibus harum velit unde quas quae repellat similique alias expedita laudantium nesciunt quos repudiandae. Veniam sed dolorum quas dicta animi, voluptatem natus beatae dolor, suscipit hic ipsam.</p>
            <img src="./assets/images/email.jpg" width="100px" alt="">
        </div>
    </div>
</div>
