<div class="accordion">
    <div class="accordion-tab">
        <input id="toggle1" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle1">our mission<img src="./assets/images/dropdownicon.png" width="30px"></label>
        <div class="accordion-content">
            <p>It is the mission of F.A.service centre to be the finest commercial quality Theatre chair in the India. We understand that we cannot be successful unless our customers are successful. We are committed to enhancing our customer’s success with responsiveness, quality and service that sets the industry standard. F.A.service centre understands the value of continual improvement and commitment to our most valuable asset, our people. We will strive to be the best in every aspect of our business by utilizing our core competencies, fostering a culture of trust, teamwork and responsibility.</p>
            <img class="img mission" src="./assets/images/mission.jpg" width="100px" alt="">
        </div>
    </div>
    <div class="accordion-tab">
        <input id="toggle2" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle2">our vision<img src="./assets/images/dropdownicon.png" width="30px"> </label>
        <div class="accordion-content">
            <p>It is F.A.service centre's vision to have the highest customer satisfaction of any Theatre in the world while having a commitment to quality through the strength of our greatest asset: our people.
            </p>
            <img src="./assets/images/vision.jpg" width="100px" alt="">
        </div>
    </div>
    <div class="accordion-tab">
        <input id="toggle3" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="toggle3">our legacy<img src="./assets/images/dropdownicon.png" width="30px"></label>
        <div class="accordion-content">
            <p>We are the company having more than 50 thousand seats installed all over India and continue, with one manufacturing facilities over 2 decades of passion hard work and Excellence</p>
            <img src="./assets/images/legacy.jpg" width="100px" alt="">
        </div>
    </div>
</div>
<div><a routerLink="/tab">tab</a></div>
